<main>
    <div id="app">

        <form v-on:submit.prevent="addTodo">
            <input type="text" placeholder="New task" v-model="nextTodoText">
            <button v-bind:disabled="nextTodoText.trim() == ''">Push</button>
        </form>
        
        <transition-group v-if="!loginView && !registerView" name="list" tag="ul">
            <li 
                is="todo-item"
                v-for="(todo, todoId) in todoList"
                v-if="todo.isActive || showInactive" 
                v-bind:data-id="todoId"
                v-bind="todo"
                v-bind:key="todo.id"                    
                v-bind:index="todoId + 1"

                v-on:remove="deleteTodo(todoId)"
                v-on:toggle="toggleTodo(todoId)" 
            ></li>
        </transition-group>

        <div class="popup" v-else-if="loginView">
            <form v-on:submit.prevent="loginFormSubmit">
                <input type="text" placeholder="Name" name="login" v-model="loginForm.login">
                <input type="password" placeholder="Password" name="password" v-model="loginForm.password">
                <button type="submit" v-bind:disabled="! loginFormValidation">Sign in</button>
                <span class="status-info">\{{ loginForm.infoText }}</span>
            </form>
        </div>

        <div class="popup" v-else-if="registerView">
            <form v-on:submit.prevent="registerFormSubmit">
                <input type="text" placeholder="Name" name="login" v-model="registerForm.login">
                <input type="password" placeholder="Password" name="password" v-model="registerForm.password">
                <input type="password" placeholder="Confirm password" name="password_confirm" v-model="registerForm.passwordConfirm">
                <button type="submit" v-bind:disabled="! registerFormValidation">Register</button>
                <span class="status-info">\{{ registerForm.infoText }}</span>
            </form>
        </div>


        <footer>
            <button v-on:click.prevent="showInactive = !showInactive">
                <i class="far fa-eye" v-if="showInactive"></i>
                <i class="far fa-eye-slash" v-else></i>
            </button>


            <span class="login-info">

                <span v-if="! logged" >
                    <a href="#" v-on:click.prevent="openLoginForm">Sign in</a>
                    or
                    <a href="#" v-on:click.prevent="openSignInForm">register</a>
                
                
                    <span v-if="loginView || registerView">
                        or
                        <a href="#" v-on:click.prevent="openTodoView">go back</a>
                    </span>
                </span>

                <span v-else class="user">
                    Logged as: <span class="username">\{{user.name}}</span>
                    
                    <button v-on:click.prevent="signout">
                        <i class="fas fa-sign-out-alt"></i>
                    </button>
                </span>

            </span>
            
        </footer>

    </div>

    <p id="author">Designed and Coded by <a href="https://github.com/nikitaGetman" target="_blank" title="My GitHub">Nikita Getman</a></p>
</main>

{{!-- use such method of import brcause don`t use webpack --}}
<script src="../javascript/dataStorage.js"></script> 
<script src="../javascript/script.js"></script>